html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

html, body {
  width: 100%;
  height: 100%; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.margin-xxs-left {
  margin-left: 0.25rem; }

.margin-xxs-right {
  margin-right: 0.25rem; }

.margin-xxs-top {
  margin-top: 0.25rem; }

.margin-xxs-bottom {
  margin-bottom: 0.25rem; }

.margin-xxs-all {
  margin: 0.25rem; }

.margin-xs-left {
  margin-left: 0.5rem; }

.margin-xs-right {
  margin-right: 0.5rem; }

.margin-xs-top {
  margin-top: 0.5rem; }

.margin-xs-bottom {
  margin-bottom: 0.5rem; }

.margin-xs-all {
  margin: 0.5rem; }

.margin-sm-left {
  margin-left: 1rem; }

.margin-sm-right {
  margin-right: 1rem; }

.margin-sm-top {
  margin-top: 1rem; }

.margin-sm-bottom {
  margin-bottom: 1rem; }

.margin-sm-all {
  margin: 1rem; }

.margin-md-left {
  margin-left: 1.5rem; }

.margin-md-right {
  margin-right: 1.5rem; }

.margin-md-top {
  margin-top: 1.5rem; }

.margin-md-bottom {
  margin-bottom: 1.5rem; }

.margin-md-all {
  margin: 1.5rem; }

.margin-lg-left {
  margin-left: 2rem; }

.margin-lg-right {
  margin-right: 2rem; }

.margin-lg-top {
  margin-top: 2rem; }

.margin-lg-bottom {
  margin-bottom: 2rem; }

.margin-lg-all {
  margin: 2rem; }

.margin-xl-left {
  margin-left: 3rem; }

.margin-xl-right {
  margin-right: 3rem; }

.margin-xl-top {
  margin-top: 3rem; }

.margin-xl-bottom {
  margin-bottom: 3rem; }

.margin-xl-all {
  margin: 3rem; }

.margin-xxl-left {
  margin-left: 4rem; }

.margin-xxl-right {
  margin-right: 4rem; }

.margin-xxl-top {
  margin-top: 4rem; }

.margin-xxl-bottom {
  margin-bottom: 4rem; }

.margin-xxl-all {
  margin: 4rem; }

.padding-xxs-left {
  padding-left: 0.25rem; }

.padding-xxs-right {
  padding-right: 0.25rem; }

.padding-xxs-top {
  padding-top: 0.25rem; }

.padding-xxs-bottom {
  padding-bottom: 0.25rem; }

.padding-xxs-all {
  margin: 0.25rem; }

.padding-xs-left {
  padding-left: 0.5rem; }

.padding-xs-right {
  padding-right: 0.5rem; }

.padding-xs-top {
  padding-top: 0.5rem; }

.padding-xs-bottom {
  padding-bottom: 0.5rem; }

.padding-xs-all {
  margin: 0.5rem; }

.padding-sm-left {
  padding-left: 1rem; }

.padding-sm-right {
  padding-right: 1rem; }

.padding-sm-top {
  padding-top: 1rem; }

.padding-sm-bottom {
  padding-bottom: 1rem; }

.padding-sm-all {
  margin: 1rem; }

.padding-md-left {
  padding-left: 1.5rem; }

.padding-md-right {
  padding-right: 1.5rem; }

.padding-md-top {
  padding-top: 1.5rem; }

.padding-md-bottom {
  padding-bottom: 1.5rem; }

.padding-md-all {
  margin: 1.5rem; }

.padding-lg-left {
  padding-left: 2rem; }

.padding-lg-right {
  padding-right: 2rem; }

.padding-lg-top {
  padding-top: 2rem; }

.padding-lg-bottom {
  padding-bottom: 2rem; }

.padding-lg-all {
  margin: 2rem; }

.padding-xl-left {
  padding-left: 3rem; }

.padding-xl-right {
  padding-right: 3rem; }

.padding-xl-top {
  padding-top: 3rem; }

.padding-xl-bottom {
  padding-bottom: 3rem; }

.padding-xl-all {
  margin: 3rem; }

.padding-xxl-left {
  padding-left: 4rem; }

.padding-xxl-right {
  padding-right: 4rem; }

.padding-xxl-top {
  padding-top: 4rem; }

.padding-xxl-bottom {
  padding-bottom: 4rem; }

.padding-xxl-all {
  margin: 4rem; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #191919;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem; }
  @media (min-width: 48rem) {
    body {
      font-size: 1.125rem; } }

.defcon {
  font-size: 2.25rem;
  line-height: 1.2; }
  @media (min-width: 48rem) {
    .defcon {
      font-size: 3.25rem; } }

h1, .h1-primary, .h1-secondary {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem; }
  @media (min-width: 48rem) {
    h1, .h1-primary, .h1-secondary {
      font-size: 2.5625rem;
      line-height: 3rem; } }

h2, .h2-primary, .h2-secondary {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem; }
  @media (min-width: 48rem) {
    h2, .h2-primary, .h2-secondary {
      font-size: 2.25rem;
      line-height: 2.5rem; } }

h3, .h3-primary, .h3-secondary {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.5rem; }
  @media (min-width: 48rem) {
    h3, .h3-primary, .h3-secondary {
      font-size: 1.875rem;
      line-height: 1.875rem; } }

h4, .h4-primary, .h4-secondary {
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.2; }
  @media (min-width: 48rem) {
    h4, .h4-primary, .h4-secondary {
      font-size: 1.625rem;
      line-height: 2rem; } }

h5, .h5-primary, .h5-secondary {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2; }
  @media (min-width: 48rem) {
    h5, .h5-primary, .h5-secondary {
      font-size: 1.25rem; } }

h6, .h6-primary, .h6-secondary {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.5rem; }
  @media (min-width: 48rem) {
    h6, .h6-primary, .h6-secondary {
      font-size: 1.0625rem;
      line-height: 1.5rem; } }

h1, .h1-primary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

h2, .h2-primary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

h3, .h3-primary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

h4, .h4-primary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

h5, .h5-primary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

h6, .h6-primary {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.h1-secondary {
  font-family: Georgia, Times, Times New Roman, serif; }

.h2-secondary {
  font-family: Georgia, Times, Times New Roman, serif; }

.h3-secondary {
  font-family: Georgia, Times, Times New Roman, serif; }

.h4-secondary {
  font-family: Georgia, Times, Times New Roman, serif; }

.h5-secondary {
  font-family: Georgia, Times, Times New Roman, serif; }

.h6-secondary {
  font-family: Georgia, Times, Times New Roman, serif; }

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.container {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90rem; }
  @media (min-width: 64rem) {
    .container {
      margin-left: 8%;
      margin-right: 8%; } }
  @media (min-width: 90rem) {
    .container {
      margin-left: 8%;
      margin-right: 8%; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%; }
  @supports (display: grid) {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-row-gap: 1rem;
      grid-column-gap: 0;
      grid-auto-flow: dense; } }
  body ~ .row:last-of-type {
    margin-bottom: 1rem; }
  body ~ .row:first-of-type {
    margin-top: 1rem; }
  @media (min-width: 48rem) {
    .row {
      margin-bottom: 0.75rem;
      margin-top: 0.75rem; }
      @supports (display: grid) {
        .row {
          grid-row-gap: 1.5rem; } }
      body ~ .row:last-of-type {
        margin-bottom: 1.5rem; }
      body ~ .row:first-of-type {
        margin-top: 1.5rem; } }
  @media (min-width: 64rem) {
    .row {
      margin-bottom: 1rem;
      margin-top: 1rem; }
      @supports (display: grid) {
        .row {
          grid-row-gap: 2rem;
          grid-column-gap: 2rem; } }
      body ~ .row:last-of-type {
        margin-bottom: 2rem; }
      body ~ .row:first-of-type {
        margin-top: 2rem; } }
  @media (min-width: 90rem) {
    .row {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem; }
      @supports (display: grid) {
        .row {
          grid-row-gap: 3rem;
          grid-column-gap: 2rem; } }
      body ~ .row:last-of-type {
        margin-bottom: 3rem; }
      body ~ .row:first-of-type {
        margin-top: 3rem; } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-sm-1 {
        grid-column-start: span 1; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-sm-md-1 {
        grid-column-start: span 1; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-sm-lg-1 {
        grid-column-start: span 1; } } }

@media (min-width: 0rem) {
  .col-sm-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-sm-xl-1 {
        grid-column-start: span 1; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-sm-2 {
        grid-column-start: span 2; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-sm-md-2 {
        grid-column-start: span 2; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-sm-lg-2 {
        grid-column-start: span 2; } } }

@media (min-width: 0rem) {
  .col-sm-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-sm-xl-2 {
        grid-column-start: span 2; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-sm-3 {
        grid-column-start: span 3; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-sm-md-3 {
        grid-column-start: span 3; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-sm-lg-3 {
        grid-column-start: span 3; } } }

@media (min-width: 0rem) {
  .col-sm-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-sm-xl-3 {
        grid-column-start: span 3; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-sm-4 {
        grid-column-start: span 4; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-sm-md-4 {
        grid-column-start: span 4; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-sm-lg-4 {
        grid-column-start: span 4; } } }

@media (min-width: 0rem) {
  .col-sm-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-sm-xl-4 {
        grid-column-start: span 4; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-sm-5 {
        grid-column-start: span 5; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-sm-md-5 {
        grid-column-start: span 5; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-sm-lg-5 {
        grid-column-start: span 5; } } }

@media (min-width: 0rem) {
  .col-sm-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-sm-xl-5 {
        grid-column-start: span 5; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-sm-6 {
        grid-column-start: span 6; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-sm-md-6 {
        grid-column-start: span 6; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-sm-lg-6 {
        grid-column-start: span 6; } } }

@media (min-width: 0rem) {
  .col-sm-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-sm-xl-6 {
        grid-column-start: span 6; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-sm-7 {
        grid-column-start: span 7; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-sm-md-7 {
        grid-column-start: span 7; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-sm-lg-7 {
        grid-column-start: span 7; } } }

@media (min-width: 0rem) {
  .col-sm-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-sm-xl-7 {
        grid-column-start: span 7; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-sm-8 {
        grid-column-start: span 8; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-sm-md-8 {
        grid-column-start: span 8; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-sm-lg-8 {
        grid-column-start: span 8; } } }

@media (min-width: 0rem) {
  .col-sm-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-sm-xl-8 {
        grid-column-start: span 8; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-sm-9 {
        grid-column-start: span 9; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-sm-md-9 {
        grid-column-start: span 9; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-sm-lg-9 {
        grid-column-start: span 9; } } }

@media (min-width: 0rem) {
  .col-sm-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-sm-xl-9 {
        grid-column-start: span 9; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-sm-10 {
        grid-column-start: span 10; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-sm-md-10 {
        grid-column-start: span 10; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-sm-lg-10 {
        grid-column-start: span 10; } } }

@media (min-width: 0rem) {
  .col-sm-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-sm-xl-10 {
        grid-column-start: span 10; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-sm-11 {
        grid-column-start: span 11; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-sm-md-11 {
        grid-column-start: span 11; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-sm-lg-11 {
        grid-column-start: span 11; } } }

@media (min-width: 0rem) {
  .col-sm-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-sm-xl-11 {
        grid-column-start: span 11; } } }

@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-sm-12 {
        grid-column-start: span 12; } } }

@media (min-width: 0rem) and (max-width: 63.9375rem) {
  .col-sm-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-sm-md-12 {
        grid-column-start: span 12; } } }

@media (min-width: 0rem) and (max-width: 89.9375rem) {
  .col-sm-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-sm-lg-12 {
        grid-column-start: span 12; } } }

@media (min-width: 0rem) {
  .col-sm-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-sm-xl-12 {
        grid-column-start: span 12; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-md-1 {
        grid-column-start: span 1; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-md-lg-1 {
        grid-column-start: span 1; } } }

@media (min-width: 48rem) {
  .col-md-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-md-xl-1 {
        grid-column-start: span 1; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-md-2 {
        grid-column-start: span 2; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-md-lg-2 {
        grid-column-start: span 2; } } }

@media (min-width: 48rem) {
  .col-md-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-md-xl-2 {
        grid-column-start: span 2; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-md-3 {
        grid-column-start: span 3; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-md-lg-3 {
        grid-column-start: span 3; } } }

@media (min-width: 48rem) {
  .col-md-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-md-xl-3 {
        grid-column-start: span 3; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-md-4 {
        grid-column-start: span 4; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-md-lg-4 {
        grid-column-start: span 4; } } }

@media (min-width: 48rem) {
  .col-md-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-md-xl-4 {
        grid-column-start: span 4; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-md-5 {
        grid-column-start: span 5; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-md-lg-5 {
        grid-column-start: span 5; } } }

@media (min-width: 48rem) {
  .col-md-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-md-xl-5 {
        grid-column-start: span 5; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-md-6 {
        grid-column-start: span 6; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-md-lg-6 {
        grid-column-start: span 6; } } }

@media (min-width: 48rem) {
  .col-md-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-md-xl-6 {
        grid-column-start: span 6; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-md-7 {
        grid-column-start: span 7; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-md-lg-7 {
        grid-column-start: span 7; } } }

@media (min-width: 48rem) {
  .col-md-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-md-xl-7 {
        grid-column-start: span 7; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-md-8 {
        grid-column-start: span 8; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-md-lg-8 {
        grid-column-start: span 8; } } }

@media (min-width: 48rem) {
  .col-md-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-md-xl-8 {
        grid-column-start: span 8; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-md-9 {
        grid-column-start: span 9; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-md-lg-9 {
        grid-column-start: span 9; } } }

@media (min-width: 48rem) {
  .col-md-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-md-xl-9 {
        grid-column-start: span 9; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-md-10 {
        grid-column-start: span 10; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-md-lg-10 {
        grid-column-start: span 10; } } }

@media (min-width: 48rem) {
  .col-md-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-md-xl-10 {
        grid-column-start: span 10; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-md-11 {
        grid-column-start: span 11; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-md-lg-11 {
        grid-column-start: span 11; } } }

@media (min-width: 48rem) {
  .col-md-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-md-xl-11 {
        grid-column-start: span 11; } } }

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-md-12 {
        grid-column-start: span 12; } } }

@media (min-width: 48rem) and (max-width: 89.9375rem) {
  .col-md-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-md-lg-12 {
        grid-column-start: span 12; } } }

@media (min-width: 48rem) {
  .col-md-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-md-xl-12 {
        grid-column-start: span 12; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-lg-1 {
        grid-column-start: span 1; } } }

@media (min-width: 64rem) {
  .col-lg-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-lg-xl-1 {
        grid-column-start: span 1; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-lg-2 {
        grid-column-start: span 2; } } }

@media (min-width: 64rem) {
  .col-lg-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-lg-xl-2 {
        grid-column-start: span 2; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-lg-3 {
        grid-column-start: span 3; } } }

@media (min-width: 64rem) {
  .col-lg-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-lg-xl-3 {
        grid-column-start: span 3; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-lg-4 {
        grid-column-start: span 4; } } }

@media (min-width: 64rem) {
  .col-lg-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-lg-xl-4 {
        grid-column-start: span 4; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-lg-5 {
        grid-column-start: span 5; } } }

@media (min-width: 64rem) {
  .col-lg-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-lg-xl-5 {
        grid-column-start: span 5; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-lg-6 {
        grid-column-start: span 6; } } }

@media (min-width: 64rem) {
  .col-lg-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-lg-xl-6 {
        grid-column-start: span 6; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-lg-7 {
        grid-column-start: span 7; } } }

@media (min-width: 64rem) {
  .col-lg-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-lg-xl-7 {
        grid-column-start: span 7; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-lg-8 {
        grid-column-start: span 8; } } }

@media (min-width: 64rem) {
  .col-lg-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-lg-xl-8 {
        grid-column-start: span 8; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-lg-9 {
        grid-column-start: span 9; } } }

@media (min-width: 64rem) {
  .col-lg-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-lg-xl-9 {
        grid-column-start: span 9; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-lg-10 {
        grid-column-start: span 10; } } }

@media (min-width: 64rem) {
  .col-lg-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-lg-xl-10 {
        grid-column-start: span 10; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-lg-11 {
        grid-column-start: span 11; } } }

@media (min-width: 64rem) {
  .col-lg-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-lg-xl-11 {
        grid-column-start: span 11; } } }

@media (min-width: 64rem) and (max-width: 89.9375rem) {
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-lg-12 {
        grid-column-start: span 12; } } }

@media (min-width: 64rem) {
  .col-lg-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-lg-xl-12 {
        grid-column-start: span 12; } } }

@media (min-width: 90rem) {
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
    @supports (display: grid) {
      .col-xl-1 {
        grid-column-start: span 1; } } }

@media (min-width: 90rem) {
  .col-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
    @supports (display: grid) {
      .col-xl-2 {
        grid-column-start: span 2; } } }

@media (min-width: 90rem) {
  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
    @supports (display: grid) {
      .col-xl-3 {
        grid-column-start: span 3; } } }

@media (min-width: 90rem) {
  .col-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
    @supports (display: grid) {
      .col-xl-4 {
        grid-column-start: span 4; } } }

@media (min-width: 90rem) {
  .col-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
    @supports (display: grid) {
      .col-xl-5 {
        grid-column-start: span 5; } } }

@media (min-width: 90rem) {
  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @supports (display: grid) {
      .col-xl-6 {
        grid-column-start: span 6; } } }

@media (min-width: 90rem) {
  .col-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
    @supports (display: grid) {
      .col-xl-7 {
        grid-column-start: span 7; } } }

@media (min-width: 90rem) {
  .col-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
    @supports (display: grid) {
      .col-xl-8 {
        grid-column-start: span 8; } } }

@media (min-width: 90rem) {
  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
    @supports (display: grid) {
      .col-xl-9 {
        grid-column-start: span 9; } } }

@media (min-width: 90rem) {
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
    @supports (display: grid) {
      .col-xl-10 {
        grid-column-start: span 10; } } }

@media (min-width: 90rem) {
  .col-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
    @supports (display: grid) {
      .col-xl-11 {
        grid-column-start: span 11; } } }

@media (min-width: 90rem) {
  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
    @supports (display: grid) {
      .col-xl-12 {
        grid-column-start: span 12; } } }

.vertical-centered {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.btn {
  display: inline-block;
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #1B6FA6;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  padding: 1rem 1.5rem; }
  .btn.btn-block {
    display: block; }
  .btn.btn-lg {
    padding: 1.5rem 1.5rem; }
  .btn.btn-sm {
    padding: 0.5rem 1.5rem; }
  .btn.disabled, .btn:disabled {
    color: #FFFFFF;
    background-color: #B8C1CB; }
  .btn:not(:disabled):not(.disabled):active:hover, .btn:not(:disabled):not(.disabled):hover:hover {
    background-color: #228cd2;
    text-decoration: none; }
  .btn:not(:disabled):not(.disabled):active:active, .btn:not(:disabled):not(.disabled):hover:active {
    background-color: #228cd2;
    border: 2px solid rgba(0, 0, 0, 0.25); }

.btn-outline {
  color: #1B6FA6;
  background-color: transparent;
  border: 1px solid #1B6FA6; }
  .btn-outline:not(:disabled):not(.disabled):active:hover, .btn-outline:not(:disabled):not(.disabled):hover:hover {
    color: #FFFFFF;
    background-color: #228cd2;
    text-decoration: none; }
  .btn-outline:not(:disabled):not(.disabled):active:active, .btn-outline:not(:disabled):not(.disabled):hover:active {
    color: #FFFFFF;
    background-color: #228cd2;
    border: 2px solid rgba(0, 0, 0, 0.25); }

.btn-success {
  color: #FFFFFF;
  background-color: #00A321; }
  .btn-success:not(:disabled):not(.disabled):active:hover, .btn-success:not(:disabled):not(.disabled):hover:hover {
    background-color: #00d62b;
    text-decoration: none; }
  .btn-success:not(:disabled):not(.disabled):active:active, .btn-success:not(:disabled):not(.disabled):hover:active {
    background-color: #00d62b;
    border: 2px solid rgba(0, 0, 0, 0.25); }

.btn-warning {
  color: #FFFFFF;
  background-color: #E07000; }
  .btn-warning:not(:disabled):not(.disabled):active:hover, .btn-warning:not(:disabled):not(.disabled):hover:hover {
    background-color: #ff8a14;
    text-decoration: none; }
  .btn-warning:not(:disabled):not(.disabled):active:active, .btn-warning:not(:disabled):not(.disabled):hover:active {
    background-color: #ff8a14;
    border: 2px solid rgba(0, 0, 0, 0.25); }

.btn-danger {
  color: #FFFFFF;
  background-color: #DB0A07; }
  .btn-danger:not(:disabled):not(.disabled):active:hover, .btn-danger:not(:disabled):not(.disabled):hover:hover {
    background-color: #f8201d;
    text-decoration: none; }
  .btn-danger:not(:disabled):not(.disabled):active:active, .btn-danger:not(:disabled):not(.disabled):hover:active {
    background-color: #f8201d;
    border: 2px solid rgba(0, 0, 0, 0.25); }

.btn-outline-success {
  color: #00A321;
  border: 1px solid #00A321;
  background-color: transparent; }
  .btn-outline-success:not(:disabled):not(.disabled):active:hover, .btn-outline-success:not(:disabled):not(.disabled):hover:hover {
    color: #FFFFFF;
    border: 1px solid transparent;
    background-color: #00d62b;
    text-decoration: none; }
  .btn-outline-success:not(:disabled):not(.disabled):active:active, .btn-outline-success:not(:disabled):not(.disabled):hover:active {
    color: #FFFFFF;
    background-color: #00d62b;
    border: 2px solid rgba(0, 0, 0, 0.25); }

.btn-outline-warning {
  color: #E07000;
  border: 1px solid #E07000;
  background-color: transparent; }
  .btn-outline-warning:not(:disabled):not(.disabled):active:hover, .btn-outline-warning:not(:disabled):not(.disabled):hover:hover {
    color: #FFFFFF;
    border: 1px solid transparent;
    background-color: #ff8a14;
    text-decoration: none; }
  .btn-outline-warning:not(:disabled):not(.disabled):active:active, .btn-outline-warning:not(:disabled):not(.disabled):hover:active {
    color: #FFFFFF;
    background-color: #ff8a14;
    border: 2px solid rgba(0, 0, 0, 0.25); }

.btn-outline-danger {
  color: #DB0A07;
  border: 1px solid #DB0A07;
  background-color: transparent; }
  .btn-outline-danger:not(:disabled):not(.disabled):active:hover, .btn-outline-danger:not(:disabled):not(.disabled):hover:hover {
    color: #FFFFFF;
    border: 1px solid transparent;
    background-color: #f8201d;
    text-decoration: none; }
  .btn-outline-danger:not(:disabled):not(.disabled):active:active, .btn-outline-danger:not(:disabled):not(.disabled):hover:active {
    color: #FFFFFF;
    background-color: #f8201d;
    border: 2px solid rgba(0, 0, 0, 0.25); }

figcaption, figcaption p {
  color: #a7a7a7;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: normal;
  font-weight: normal; }
  figcaption p, figcaption p p {
    display: inline;
    margin: 0; }
  @media screen and (max-width: 0rem) {
    figcaption, figcaption p {
      font-size: 0.875rem;
      line-height: 1.25rem; } }
  @media screen and (max-width: 48rem) {
    figcaption, figcaption p {
      font-size: 0.875rem;
      line-height: 1.25rem; } }

.image-metadata .title {
  font-weight: bold; }

.article-body {
  color: #191919;
  margin-top: 2rem; }
  .article-body > h1, .article-body > h2, .article-body > h3, .article-body > h4, .article-body > h5, .article-body > h6 {
    margin-bottom: 32px; }
  .article-body ul, .article-body ol {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    margin: 1rem 0; }
  .article-body p {
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    margin: 0 0 1.5rem; }
    @media screen and (min-width: 48rem) {
      .article-body p {
        font-size: 1.25rem;
        line-height: 2.5rem;
        margin: 0 0 2rem; } }
  .article-body figure {
    margin: 0; }
    .article-body figure p {
      font-size: 0.875rem;
      color: #7F8C8D;
      margin: 8px 0;
      line-height: 1rem; }
  .article-body ul {
    list-style-type: disc;
    list-style-position: inside; }
  .article-body ol {
    list-style-type: decimal;
    list-style-position: inside; }
  .article-body ul ul, .article-body ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 1rem; }
  .article-body ol ol, .article-body ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 1rem; }
  .article-body ol ol, .article-body ul ol, .article-body ol ul, .article-body ul ul {
    margin-top: 0;
    margin-bottom: 0; }
  .article-body li {
    margin: 0;
    font-size: 1.125rem;
    line-height: 2rem; }
    @media screen and (min-width: 48rem) {
      .article-body li {
        margin: 0;
        font-size: 1.25rem;
        line-height: 2.5rem; } }
  .article-body .correction {
    margin: 0 0 1.5rem;
    padding: 1rem 0;
    box-shadow: inset 0 -1px 0 0 #DADADA; }
    @media screen and (min-width: 48rem) {
      .article-body .correction {
        margin: 0 0 2rem; } }
    .article-body .correction div, .article-body .correction p {
      color: #6B6B6B;
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-style: italic;
      font-weight: normal;
      margin: 0;
      display: inline; }
    .article-body .correction h6 {
      text-transform: uppercase;
      font-style: italic; }
  .article-body .table-wrapper {
    overflow-x: auto;
    margin: 0 0 1.5rem; }
    @media screen and (min-width: 48rem) {
      .article-body .table-wrapper {
        margin-bottom: 2rem; } }
    .article-body .table-wrapper table {
      width: 100%;
      color: #191919;
      border: 1px solid #C8C8C8;
      border-collapse: collapse; }
      .article-body .table-wrapper table thead {
        border: 2px solid #C8C8C8;
        background-color: #EEEEEE; }
      .article-body .table-wrapper table th {
        white-space: nowrap; }
      .article-body .table-wrapper table th, .article-body .table-wrapper table td {
        border: 1px solid #C8C8C8;
        padding: 0.25rem 0.5rem;
        text-align: center; }
      .article-body .table-wrapper table td {
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: normal; }
      .article-body .table-wrapper table th {
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: bold;
        white-space: nowrap; }
  .article-body blockquote.pullquote {
    text-align: center;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 2rem 0 1.5rem;
    margin: 0 0 1.5rem;
    box-shadow: inset 0 -5px 0 0 #DADADA, inset 0 5px 0 0 #DADADA; }
    @media screen and (min-width: 48rem) {
      .article-body blockquote.pullquote {
        font-size: 1.625rem;
        line-height: 2rem;
        margin-bottom: 2rem; } }
    .article-body blockquote.pullquote p {
      text-align: center;
      font-size: 1.1875rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-style: italic; }
      @media screen and (min-width: 48rem) {
        .article-body blockquote.pullquote p {
          font-size: 1.625rem;
          line-height: 2rem; } }
    .article-body blockquote.pullquote .citation-text {
      text-align: center;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1.125rem;
      line-height: 2rem; }
      @media screen and (min-width: 48rem) {
        .article-body blockquote.pullquote .citation-text {
          font-size: 1rem;
          line-height: 1.5rem; } }
  .article-body blockquote {
    box-shadow: inset 5px 0 0 0 #1F2D3D;
    padding: 1rem 0 1rem 1.5rem;
    text-align: left;
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0 0 1.5rem;
    font-weight: normal;
    font-style: italic; }
    @media screen and (min-width: 48rem) {
      .article-body blockquote {
        margin-bottom: 2rem; } }
    .article-body blockquote p {
      font-size: 1.125rem;
      font-weight: normal;
      font-style: italic;
      margin-bottom: 1.5rem; }
      @media screen and (min-width: 0rem) {
        .article-body blockquote p {
          line-height: 2rem; } }
      @media screen and (min-width: 48rem) {
        .article-body blockquote p {
          line-height: 2rem; } }
    .article-body blockquote .citation-text {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: normal;
      display: block;
      text-align: left;
      color: #191919;
      font-size: 1rem;
      line-height: 1.5rem;
      font-style: normal; }
  .article-body .interstitial_link {
    font-style: italic;
    display: block;
    margin: 0 0 1.5rem; }
    @media screen and (min-width: 48rem) {
      .article-body .interstitial_link {
        margin-bottom: 2rem; } }
    .article-body .interstitial_link a {
      color: #1B6FA6;
      text-decoration: underline; }

@keyframes closeWindow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pointFade {
  0%, 19.999%, 100% {
    opacity: 0; }
  20% {
    opacity: 1; } }

.ril__outer {
  background-color: black;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none; }

.ril__outerClosing {
  opacity: 0; }

.ril__inner {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0; }

.ril__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none; }

.ril__imagePrev {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none; }
  .ril__imagePrev .ril__loadingContainer {
    display: none; }
  .ril__imagePrev .ril__errorContainer {
    display: none; }

.ril__imageNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none; }
  .ril__imageNext .ril__loadingContainer {
    display: none; }
  .ril__imageNext .ril__errorContainer {
    display: none; }

.ril__imageDiscourager {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.ril__navButtons {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 34px;
  padding: 40px 30px;
  margin: auto;
  cursor: pointer;
  opacity: 0.7; }
  .ril__navButtons:hover {
    opacity: 1; }
  .ril__navButtons:active {
    opacity: 0.7; }

.ril__navButtonPrev {
  left: 0; }

.ril__navButtonNext {
  right: 0; }

.ril__downloadBlocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  background-size: cover; }

.ril__caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: left;
  bottom: 0;
  max-height: 150px;
  overflow: auto; }

.ril__toolbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 50px; }

.ril__captionContent {
  padding: 10px 20px;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem; }
  .ril__captionContent .image-metadata, .ril__captionContent .image-metadata .title {
    color: white; }

.ril__toolbarSide {
  height: 50px;
  margin: 0; }

.ril__toolbarLeftSide {
  padding-left: 20px;
  padding-right: 0;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis; }

.ril__toolbarRightSide {
  padding-left: 0;
  padding-right: 20px;
  flex: 0 0 auto; }

.ril__toolbarItem {
  display: inline-block;
  line-height: 50px;
  padding: 0;
  color: #fff;
  font-size: 120%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ril__toolbarItemChild {
  vertical-align: middle; }

.ril__builtinButton {
  width: 40px;
  height: 35px;
  cursor: pointer;
  border: none;
  opacity: 0.7; }
  .ril__builtinButton:hover {
    opacity: 1; }
  .ril__builtinButton:active {
    outline: none; }

.ril__builtinButtonDisabled {
  cursor: default;
  opacity: 0.5; }
  .ril__builtinButtonDisabled:hover {
    opacity: 0.5; }

.ril__outerAnimating {
  animation-name: closeWindow; }

.ril__loadingCircle {
  width: 60px;
  height: 60px;
  position: relative; }

.ril__loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
  .ril__loadingCirclePoint::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    height: 30%;
    background-color: #fff;
    border-radius: 30%;
    animation: pointFade 800ms infinite ease-in-out both; }
  .ril__loadingCirclePoint:nth-of-type(1) {
    transform: rotate(0deg); }
    .ril__loadingCirclePoint:nth-of-type(1)::before {
      animation-delay: -800ms; }
  .ril__loadingCirclePoint:nth-of-type(7) {
    transform: rotate(180deg);
    transform: rotate(180deg); }
    .ril__loadingCirclePoint:nth-of-type(7)::before {
      animation-delay: -800ms;
      animation-delay: 0ms; }
  .ril__loadingCirclePoint:nth-of-type(2) {
    transform: rotate(30deg); }
    .ril__loadingCirclePoint:nth-of-type(2)::before {
      animation-delay: -666ms; }
  .ril__loadingCirclePoint:nth-of-type(8) {
    transform: rotate(210deg); }
    .ril__loadingCirclePoint:nth-of-type(8)::before {
      animation-delay: -666ms; }
  .ril__loadingCirclePoint:nth-of-type(3) {
    transform: rotate(60deg); }
    .ril__loadingCirclePoint:nth-of-type(3)::before {
      animation-delay: -533ms; }
  .ril__loadingCirclePoint:nth-of-type(9) {
    transform: rotate(240deg); }
    .ril__loadingCirclePoint:nth-of-type(9)::before {
      animation-delay: -533ms; }
  .ril__loadingCirclePoint:nth-of-type(4) {
    transform: rotate(90deg); }
    .ril__loadingCirclePoint:nth-of-type(4)::before {
      animation-delay: -400ms; }
  .ril__loadingCirclePoint:nth-of-type(10) {
    transform: rotate(270deg); }
    .ril__loadingCirclePoint:nth-of-type(10)::before {
      animation-delay: -400ms; }
  .ril__loadingCirclePoint:nth-of-type(5) {
    transform: rotate(120deg); }
    .ril__loadingCirclePoint:nth-of-type(5)::before {
      animation-delay: -266ms; }
  .ril__loadingCirclePoint:nth-of-type(11) {
    transform: rotate(300deg); }
    .ril__loadingCirclePoint:nth-of-type(11)::before {
      animation-delay: -266ms; }
  .ril__loadingCirclePoint:nth-of-type(6) {
    transform: rotate(150deg); }
    .ril__loadingCirclePoint:nth-of-type(6)::before {
      animation-delay: -133ms; }
  .ril__loadingCirclePoint:nth-of-type(12) {
    transform: rotate(330deg); }
    .ril__loadingCirclePoint:nth-of-type(12)::before {
      animation-delay: -133ms; }
  .ril__loadingCirclePoint:nth-of-type(13) {
    transform: rotate(360deg); }
    .ril__loadingCirclePoint:nth-of-type(13)::before {
      animation-delay: 0ms; }

.ril__loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ril__errorContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }

.ril__loadingContainer__icon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.news-theme-gallery {
  display: block;
  width: 100%;
  overflow: hidden; }
  .news-theme-gallery p.image-metadata {
    font-size: 0.875rem;
    color: #7F8C8D;
    margin: 8px 0;
    line-height: 1.5rem; }
    @media screen and (min-width: 48rem) {
      .news-theme-gallery p.image-metadata {
        line-height: 1.25rem; } }
  .news-theme-gallery button {
    background: none;
    border: none;
    padding: 0;
    height: auto;
    cursor: pointer; }
    .news-theme-gallery button :hover {
      cursor: pointer; }
  .news-theme-gallery .controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .news-theme-gallery .controls-container .playback-controls button > span {
      margin: 0 30px 0 4px; }
    .news-theme-gallery .controls-container .image-change-controls > * {
      margin-left: 12px; }
    .news-theme-gallery .controls-container .playback-controls, .news-theme-gallery .controls-container .image-change-controls {
      flex: 0 0 auto;
      line-height: 1rem;
      margin: 6px 0;
      width: auto; }
      .news-theme-gallery .controls-container .playback-controls > button, .news-theme-gallery .controls-container .image-change-controls > button {
        display: flex;
        align-items: center; }
        .news-theme-gallery .controls-container .playback-controls > button svg, .news-theme-gallery .controls-container .image-change-controls > button svg {
          height: 1rem;
          width: 1rem; }
        .news-theme-gallery .controls-container .playback-controls > button > *, .news-theme-gallery .controls-container .image-change-controls > button > * {
          flex: auto;
          line-height: 1; }
      .news-theme-gallery .controls-container .playback-controls, .news-theme-gallery .controls-container .playback-controls > button > span, .news-theme-gallery .controls-container .image-change-controls, .news-theme-gallery .controls-container .image-change-controls > button > span {
        display: inline-flex;
        align-items: center;
        color: #191919;
        font-size: 14px;
        font-weight: 500; }
  .news-theme-gallery .gallery-carousel-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 450px;
    background-color: black; }
    .news-theme-gallery .gallery-carousel-container .image-wrapper {
      text-align: center;
      width: 100%;
      height: 100%;
      display: inline-block;
      transition-property: transform; }
      .news-theme-gallery .gallery-carousel-container .image-wrapper img {
        object-fit: contain;
        height: 100%; }
    .news-theme-gallery .gallery-carousel-container button {
      position: absolute;
      top: 50%;
      height: 3rem;
      width: 3rem; }
      .news-theme-gallery .gallery-carousel-container button.prev-button {
        left: 0; }
      .news-theme-gallery .gallery-carousel-container button.next-button {
        right: 0; }
