// Scss Breakpoints
//
// Styleguide 1.2.0


// $spacers
//
// Scss map of all the spacing sizes for all breakpoints
//
// Styleguide 1.2.1
$spacers: (
        xxs: calculateRem(4px),
        xs: calculateRem(8px),
        sm: calculateRem(16px),
        md: calculateRem(24px),
        lg: calculateRem(32px),
        xl: calculateRem(48px),
        xxl: calculateRem(64px)
) !default;

// $grid-breakpoints
//
// Scss map of all the breakpoints for the grid system
//
// Styleguide 1.2.2
$grid-breakpoints: (
        sm: calculateRem(767px),
        md: calculateRem(768px),
        lg: calculateRem(1024px),
        xl: calculateRem(1440px)
) !default;
