// Scss Breakpoints
//
// Styleguide 1.2.0


// $spacers
//
// Scss map of all the spacing sizes for all breakpoints
//
// Styleguide 1.2.1
$spacers: (
        xxs: 0.25rem,
        xs: 0.5rem,
        sm: 1rem,
        md: 1.5rem,
        lg: 2rem,
        xl: 3rem,
        xxl: 4rem
) !default;

// $grid-breakpoints
//
// Scss map of all the breakpoints for the grid system
//
// Styleguide 1.2.2
$grid-breakpoints: (
        sm: 0rem,
        md: 48rem,
        lg: 64rem,
        xl: 90rem
) !default;

$grid-breakpoints-max:(
        sm: 47.9375rem,
        md: 63.9375rem,
        lg: 89.9375rem
) !default;
