// Buttons
//
// All buttons must include the class .btn; which by itself acts as the primary medium button.
// By default, all buttons are inline-block unless the class .btn-block is added.  The markup
// below lists all main button permutations
//
// Markup:
// <div class="spacer"><button class="btn">Medium Button</button> </div>
// <div class="spacer"><button class="btn" disabled="disabled">Medium Button Disabled (via attribute)</button> </div>
// <div class="spacer"><button class="btn disabled" >Medium Button Disabled (via class)</button> </div>
// <div class="spacer"><button class="btn btn-sm">Small Button</button> </div>
// <div class="spacer"><button class="btn btn-lg">Large Button</button> </div>
// <div class="spacer"><button class="btn btn-outline">Medium Button Outline</button> </div>
// <div class="spacer"><button class="btn btn-success">Medium Button Success</button> </div>
// <div class="spacer"><button class="btn btn-warning">Medium Button Warning</button> </div>
// <div class="spacer"><button class="btn btn-danger">Medium Button Danger</button> </div>
// <div class="spacer"><button class="btn btn-outline-success">Medium Button Success Outline</button> </div>
// <div class="spacer"><button class="btn btn-outline-warning">Medium Button Warning Outline</button> </div>
// <div class="spacer"><button class="btn btn-outline-danger">Medium Button Danger Outline</button> </div>
//
// Styleguide 6.0.0

.btn {
  background-color: $primary-color;
  border: 2px solid transparent;
  border-radius: 2px;
  color: $ui-btn-white-color;
  display: inline-block;
  font-family: $secondary-font-family;
  font-size: calculateRem(16px);
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;

  padding: map-get($spacers, 'sm') map-get($spacers, 'md');
  text-align: center;
  transition: all 0.3s ease 0s;
  // box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  user-select: none;
  vertical-align: middle;

  &.btn-block {
    display: block;
  }

  &.btn-lg {
    padding: map-get($spacers, 'md') map-get($spacers, 'md');
  }

  &.btn-sm {
    padding: map-get($spacers, 'xs') map-get($spacers, 'md');
  }

  &.disabled,
  &:disabled {
    background-color: #b8c1cb;
    color: $ui-btn-white-color;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):hover {
    &:hover {
      background-color: lighten($primary-color, 20%);
      text-decoration: none;
    }


    &:active {
      background-color: lighten($primary-color, 20%);
      border: 2px solid rgba(0, 0, 0, 0.25);
    }
  }


}

.btn-outline {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):hover {
    &:hover {
      background-color: lighten($primary-color, 20%);
      color: $ui-btn-white-color;
      text-decoration: none;
    }


    &:active {
      background-color: lighten($primary-color, 20%);
      border: 2px solid rgba(0, 0, 0, 0.25);
      color: $ui-btn-white-color;
    }
  }

}


@each $color, $value in $button-state-colors {
  .btn-#{$color} {
    background-color: $value;
    color: $ui-btn-white-color;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):hover {
      &:hover {
        background-color: lighten($value, 20%);
        text-decoration: none;
      }


      &:active {
        background-color: lighten($value, 20%);
        border: 2px solid rgba(0, 0, 0, 0.25);
      }
    }

  }
}

@each $color, $value in $button-state-colors {
  .btn-outline-#{$color} {
    background-color: transparent;
    border: 1px solid $value;
    color: $value;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):hover {
      &:hover {
        background-color: lighten($value, 20%);
        border: 1px solid transparent;
        color: $ui-btn-white-color;
        text-decoration: none;
      }


      &:active {
        background-color: lighten($value, 20%);
        border: 2px solid rgba(0, 0, 0, 0.25);
        color: $ui-btn-white-color;
      }
    }

  }
}





