html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

.test-class {
  background-color: #000000;
}

@import './variables';
@import './functions';
@import './breakpoints';
@import './margins';
@import './mixins';
@import './padding';
@import './colors';
@import './typography/index';
@import 'grid/index';
@import 'utils/utils';
@import './buttons';
@import './links';
@import 'components/figure_caption';
@import 'components/chain_spacing';
