// Links
//
// Provides :active and :hover  styling of links
//
// Styleguide 9.0.0

a {
  transition: color 0.3s ease;
  &:active, &:hover{
    color: lighten($ui-primary-font-color, 20%);
  }
}

a img, a video, a figure, a picture{
  &:active, &:hover{
    opacity: 0.7;
  }
}
