// @mixin block-margin-bottom
//
// For most purposes, margins should be retrieved from $spacers (using map-get) in _breakpoints.scss
// However, @mixin block-margin-bottom is a convenience mix-in to add to parent element styles for block components that
// require a unified margin bottom,
//
// Styleguide 7.3.0

@mixin block-margin-bottom {
  margin-bottom: map-get($spacers, 'sm');

  @media screen and (min-width: map-get($grid-breakpoints, 'md')){
    margin-bottom: map-get($spacers, 'md');
  }
}


// @mixin link-color-active-hover
//
// Mixin to add hover and active styles to text color
// Prams: $color-prop - Color to lighten (defaults to $ui-primary-font-color)
//
// Styleguide 9.1.0

@mixin link-color-active-hover($color-prop:$ui-primary-font-color) {
  &:active, &:hover{
    color: lighten($color-prop, 20%);
  }
}

// @mixin svg-color-active-hover
//
// Mixin to add hover and active styles to svg fill
// Prams: $color-prop - Color to lighten (defaults to $ui-primary-font-color)
//
// Styleguide 9.1.0

@mixin svg-color-active-hover($color-prop:$ui-primary-font-color) {
  &:active svg, &:hover svg{
    fill: lighten($color-prop, 20%);
  }
}
