article[class^="col-"]{
    border: 1px dotted blue;
}

.row{
    border: 1px dotted red;
}

.container, .container-fluid{
    border: 1px dotted green;
}

.kss-title, .kss-section__item, .kss-nav__item a.kss-state-active, .kss-modifiers__heading, .kss-nav__item a:hover {
    color: #1B6FA6;
}

@media only screen and (min-width: 90.0625em) {
    .kss-documentation {
        padding-left: calc(18% + 20px);
    }
}

@media only screen and (min-width: 90.0625em){
    .kss-navigation {
        width: 18%;
    }
}

.kss-header__hamburger {
    color: #1B6FA6;
    background: #1B6FA6;
}

.kss-header__hamburger:before, .kss-header__hamburger:after {
    background: #1B6FA6;
}

.kss-markdown h1, .kss-markdown h2, .kss-markdown h3, .kss-markdown h4, .kss-markdown h5, .kss-markdown h6{
    color: #1B6FA6;
}

div.spacer{
    margin:30px;
}
