// .row
//
// Establishes a CSS Grid parent.
// Used in conjunction with the .col-* classes
//
// Markup:
//   <div class="container">
//       <div class="row">This is a row</div>
//   </div>
//
// Styleguide 2.3.0
.row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;

  @supports (display: grid) {
    display: grid;
    grid-auto-flow: dense;

    @each $name, $size in $grid-breakpoints {
      @media (min-width: $size) {
        @if $name == "md" {
          grid-column-gap: map-get($spacers, "sm");

        } @else if $name == "lg" {
          grid-column-gap: map-get($spacers, "lg");

        } @else if $name == "xl" {
          grid-column-gap: map-get($spacers, "lg");
        }
      }
    }
  }
}

.reduce-internal-row-col-gap .row {
  grid-column-gap: 3%;
  @media all and (min-width: map-get($grid-breakpoints, md)) {
    grid-column-gap: 3%;
  }
}
