// .col-[breakpoint]-[col#]
//
// Provides column classes that are immediate children of rows.
// For each breakpoint defined, and for each column number, there
// is a corresponding class to indicate how many columns to span for each breakpoint
//
// Markup:
//   <div class="container">
//       <div class="row" style="height:200px">
//          <article class="col-xl-4 col-lg-4 col-md-4 col-sm-12">Another Article area</article>
//          <article class="col-xl-4 col-lg-4 col-md-4 col-sm-12">Another Article area</article>
//          <article class="col-xl-4 col-lg-4 col-md-4 col-sm-12">Another Article area</article>
//       </div>
//   </div>
//
// Styleguide 2.4.0
@for $i from 1 through $grid-columns {
  @media (min-width: map-get($grid-breakpoints, 'sm')) and (max-width: map-get($grid-breakpoints-max, 'sm')) {
    .col-sm-#{$i} {
      grid-column-start: span #{$i};
    }
  }
}
@for $i from 1 through $grid-columns {
  @media (min-width: map-get($grid-breakpoints, 'md')) and (max-width: map-get($grid-breakpoints-max, 'md')) {
    .col-md-#{$i} {
      grid-column-start: span #{$i};
    }
  }
}
@for $i from 1 through $grid-columns {
  @media (min-width: map-get($grid-breakpoints, 'lg')) and (max-width: map-get($grid-breakpoints-max, 'lg')) {
    .col-lg-#{$i} {
      grid-column-start: span #{$i};
    }
  }
}
@for $i from 1 through $grid-columns {
  @media (min-width: map-get($grid-breakpoints, 'xl')) {
    .col-xl-#{$i} {
      grid-column-start: span #{$i};
    }
  }
}
