$grid-opts-sm: (
        cols: repeat(12, 1fr),
        row-gap: map-get($spacers, "sm"),
        col-gap: 0
);
$grid-opts-md: (
        cols: repeat(12, 1fr),
        row-gap: map-get($spacers, "md"),
        col-gap: 0
);
$grid-opts-lg: (
        cols: repeat(12, 1fr),
        row-gap: map-get($spacers, "lg"),
        col-gap: calculateRem(32px)
);
$grid-opts-xl: (
        cols: repeat(12, 1fr),
        row-gap: map-get($spacers, "xl"),
        col-gap: calculateRem(32px)
);



// .row
//
// Establishes a CSS Grid parent.
// Used in conjunction with the .col-* classes
//
// Markup:
//   <div class="container">
//       <div class="row">This is a row</div>
//   </div>
//
// Styleguide 2.3.0
.row {
  @include grid($grid-opts-sm);

  grid-auto-flow: dense;
  margin-bottom: get-half-in-rems(map-get($spacers, "sm"));
  margin-top: get-half-in-rems(map-get($spacers, "sm"));
  width: 100%;
  body ~ &:last-of-type {
    margin-bottom: map-get($spacers, "sm");
  }
  body ~ &:first-of-type {
    margin-top: map-get($spacers, "sm");
  }

  @each $name, $size in $grid-breakpoints {
    @media (min-width: $size) {
      @if $name == "md" {
        margin-bottom: get-half-in-rems(map-get($spacers, "md"));
        margin-top: get-half-in-rems(map-get($spacers, "md"));
        @include grid($grid-opts-md);
        body ~ &:last-of-type {
          margin-bottom: map-get($spacers, "md");
        }
        body ~ &:first-of-type {
          margin-top: map-get($spacers, "md");
        }
      } @else if $name == "lg" {
        margin-bottom: #{get-half-in-rems(map-get($spacers, "lg"))};
        margin-top: #{get-half-in-rems(map-get($spacers, "lg"))};
        @include grid($grid-opts-lg);
        body ~ &:last-of-type {
          margin-bottom: map-get($spacers, "lg");
        }
        body ~ &:first-of-type {
          margin-top: map-get($spacers, "lg");
        }
      } @else if $name == "xl" {
        margin-bottom: get-half-in-rems(map-get($spacers, "xl"));
        margin-top: get-half-in-rems(map-get($spacers, "xl"));
        @include grid($grid-opts-xl);
        body ~ &:last-of-type {
          margin-bottom: map-get($spacers, "xl");
        }
        body ~ &:first-of-type {
          margin-top: map-get($spacers, "xl");
        }
      }
    }
  }
}
