.article-body{
  color: $ui-dark-secondary-color;


  /***
    @media screen and (max-width: map-get($grid-breakpoints, 'sm')){
      font-size: 18px;
      line-height: 24px;
    }

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      font-size: 18px;
      line-height: 24px;
    }
  ***/

  p, ul, ol {
    font-size: calculateRem(20px);
    line-height: calculateRem(40px);
    letter-spacing: 0.1px;
    margin: map-get($spacers, 'sm') 0;
  }

  figure{
    margin: 0;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: map-get($spacers, 'sm');
  }
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: map-get($spacers, 'sm');
  }

  .correction {
    margin-bottom: map-get($spacers, 'sm');
    padding: map-get($spacers, 'sm') 0;
    box-shadow: inset 0 -1px 0 0 $ui-light-secondary-color;

    div, p{
      color:  $ui-medium-primary-color;
      font-size: calculateRem(18px);
      line-height: calculateRem(24px);
      font-style:  italic;
      font-weight:  normal;
      margin: 0;
      display: inline;
    }

    h6{
      text-transform: uppercase;
      font-style: italic;
    }
  }

  .table-wrapper{
    overflow-x: auto;
    table{
      width:  100%;
      margin:  map-get($spacers, 'md') 0;
      color: $ui-primary-font-color;
      border: 1px solid #C8C8C8;
      border-collapse: collapse;

      thead{
        border: 2px solid #C8C8C8;
        background-color: #EEEEEE;
      }
      th{
        white-space: nowrap;
      }

      th, td {
        border: 1px solid #C8C8C8;
        padding:  map-get($spacers, 'xxs') map-get($spacers, 'xs');
        text-align:  center;
      }

      td{
        font-size: calculateRem(17px);
        font-style: normal;
        font-weight: normal;
      }

      th{
        font-size: calculateRem(17px);
        font-style: normal;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }

  blockquote.pullquote{
    text-align: center;
    font-size:  calculateRem(26px);
    line-height:  calculateRem(32px);
    font-weight:  bold;
    font-style:  italic;
    p{
      text-align: center;
      font-size:  calculateRem(26px);
      line-height:  calculateRem(32px);
      font-weight:  bold;
      font-style:  italic;
    }
    padding: map-get($spacers, 'md') 0;
    box-shadow: inset 0 -5px 0 0 $ui-light-secondary-color, inset 0 5px 0 0 $ui-light-secondary-color;
  }

  blockquote{
    box-shadow: inset 5px 0 0 0 #1F2D3D;
    padding: 0 0 0 map-get($spacers, 'md');
    text-align: left;
    margin: 0;
    font-size:  calculateRem(18px);
    line-height:  calculateRem(32px);
    font-weight:  normal;
    font-style:  italic;

    p{
      font-size:  calculateRem(18px);
      line-height:  calculateRem(32px);
      font-weight:  normal;
      font-style:  italic;
    }

    .citation-text {
      font-weight:  normal;
      display: block;
      text-align: center;
      color: #191919;
      font-size: calculateRem(16px);
      line-height: calculateRem(24px);
      font-style: normal;
    }
  }

  .interstitial_link{
    font-style: italic;
    a{
      color: $primary-color;
      text-decoration: underline;
    }

  }

}
