figcaption,
figcaption p {
  color: $image-caption-rule-color;
  font-size: calculateRem(14px);
  font-style: normal;
  font-weight: normal;
  line-height: calculateRem(20px);

  p {
    display: inline;
    margin: 0;
  }
  @media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
    font-size: calculateRem(14px);
    line-height: calculateRem(20px);

  }

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: calculateRem(14px);
    line-height: calculateRem(20px);
  }
}
