// Scss Breakpoints
//
// Styleguide 1.2.0


// $spacers
//
// Scss map of all the spacing sizes for all breakpoints
//
// Styleguide 1.2.1
$spacers: (
        xxs: #(xxs),
        xs: #(xs),
        sm: #(sm),
        md: #(md),
        lg: #(lg),
        xl: #(xl),
        xxl: #(xxl)
) !default;

// $grid-breakpoints
//
// Scss map of all the breakpoints for the grid system
//
// Styleguide 1.2.2
$grid-breakpoints: (
        sm: #(sm),
        md: #(md),
        lg: #(lg),
        xl: #(xl)
) !default;

$grid-breakpoints-max:(
        sm: #(sm),
        md: #(md),
        lg: #(lg)
) !default;
